.page_extrato i {
  font-size: 25px;
}

.page_extrato .bxs-up-arrow {
  color: rgb(10, 202, 10);
  font-size: 18px;
}

.page_extrato .bxs-down-arrow {
  color: red;
  font-size: 18px;
}

.page_extrato .input.descricao {
  background-color: transparent;
}

.page_extrato form {
  display: flex;
}

.page_extrato form button {
  width: 50px;
  height: 50px;
}

.page_extrato .input {
  width: 70px;
}

.page_extrato .div-balanco {
  justify-content: center;
  text-align: center;
}

.page_extrato .div-balanco p strong:nth-child(3) {
  color: red;
}

.btnMudarMes {
  margin-left: 25px;
  margin-right: 25px;
}

.page_extrato .bxs-pencil {
  font-size: 18px;
}

.page_extrato .bxs-trash {
  font-size: 18px;
}

.page_extrato .div_pesquisa input {
  width: 400px;
}

.page_extrato .botoes_mudar_pagina {
  display: flex;
  margin-left: 75%;
}
