.box-despesas table {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.bx.bx-chevron-down {
  font-size: 30px;
}

.bxs-trash {
  color: red;
  font-size: 20px;
}

.bxs-pencil {
  font-size: 20px;
  color: rgb(0, 104, 189);
}

.bx-plus {
  font-size: 20px;
  color: rgb(14, 170, 0);
}

.bx-check {
  font-size: 23px;
  color: rgb(0, 168, 0);
}

.dropdown-content {
  width: 120px;
  text-align: center;
}

.box-despesas  .grid .col:nth-child(1){
  display: flex;
  justify-content: space-between;
}

.box-despesas .grid .col:nth-child(1) .bxs-file-plus {
  font-size: 23px;
  position: relative;
  left: -5px;
}

.box-despesas .bx-filter-alt {
  left: 25px;
  font-size: 25px;
}

.box-despesas i {
  font-size: 25px;
}

.box-despesas table tbody tr td:nth-child(2) {
  text-align: justify;
}
