.carousel-root {
  padding: 50px 20px 0px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  width: 750px;
  border-radius: 20px;
}

.carousel:nth-child(2) {
  background-color: #11101D;
}

.notification .bx-down-arrow-alt {
  margin-top: 20px;
  margin-left: 200px;
  font-size: 60px;
}

.notification .bx-left-arrow-alt {
  font-size: 60px;
}

.control .icon .bx{
  font-size: 25px;
  display: flex;
  left: 0;
}
